
.container{
  height: 60%;
  max-width: 30%;
  border: 1px solid black;
  box-shadow: -2px -2px 2px 2px #888888;
}
h1, .footer{
  height: 15vh;
  background:#87766C;
  font-weight: 400;
}
h1{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 1.5rem;
}
.footer{
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  padding-left: 0;
  height: 60%;

}

li{
  border-bottom: 1px solid black;
  background: white;
  max-width: 100%;
  display: flex;
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  font-size:2rem;

}
span{
  cursor: pointer;
}
input{
  width: 70%;
    font-size:1.5rem;
}
button{
  width: 20%;
  background: #A0B58D;
  font-size: 1rem;
  cursor: pointer;
}
button:hover{
  color: white;
  background: #D2D7D3;
}
button, input{
    height: 35%;
}
p{
  color: red;
}
li, input{
  font-weight:lighter;
  font-style: normal;
}
